.slide_bgImg{
    width: 100%;
    height: 400px;
    background-image: url(../image/bg-banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_bgImg .slick-slider .slick-arrow{
    display: none !important;
}

.slide_bgImg .slick-slider {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_bgImg .slick-list {
    width: 85%;
}

.slide_bgImg .slick-track{
    display: flex;
    align-items: center;
}

.slide_bgImg .slidePartners_img{
    display: flex;
    justify-content: center;
}