.usersInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #211F2C;
}

.usersInfo .usersInfo_container{
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.usersInfo_container .usersInfo_text{
    width: 70%;
    font-size: 16px;
    line-height: 1.8;
    color: #b9b7c0;
    letter-spacing: .02em;
    padding-bottom: 20px;
}

.usersInfo_container .usersInfo_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.usersInfo_container h2{
    padding-bottom: 32px;
}

.usersInfo_container .usersInfo_section .usersInfo_section_part{
    width: 400px;
    height: 260px;
    background-color: #282535;
    transform: skew(-2deg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.usersInfo_container .usersInfo_section .usersInfo_section_part:hover{
    background-color: #2825357e;
}

.usersInfo_section_part .usersInfo_section_part_icons{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 26px;
    color: #fff;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 100%;

}

.usersInfo_section_part_icons i{
    color: #fff;
    font-size: 28px;
}

.usersInfo_section_part h3{
    margin-bottom: 20px;
    font-size: 1.375rem;
}

.usersInfo_section_part p{
    color: #b9b7c0;
}


@media screen and (max-width: 1520px){
    .usersInfo_container .usersInfo_section .usersInfo_section_part{
        width: 350px;
        height: 250px;
    }
}

@media screen and (max-width: 1270px){

    .usersInfo_container .usersInfo_section .usersInfo_section_part{
        width: 300px;
        height: 250px;
    }

    .usersInfo_container .usersInfo_section{
        
        justify-content: center;
        gap: 30px;

    }
    .usersInfo_container .usersInfo_text{
        width: 95%;
    }
}

@media screen and (max-width: 760px){
    
    .usersInfo_container .usersInfo_section .usersInfo_section_part{
        width: 100%;
        height: 200px;
    }

}