nav {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1f1d29;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    position: fixed;
    box-shadow: 0px 15px 10px -15px #111; 
    z-index: 9999999999999999999999;
}

.menu_logo {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_logo img {
    width: 30px;
    height: 30px;
}

.icons_part {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.icons_part div{
    cursor: pointer;
}


.hamburger_menu {
    display: none;
}

.burgerMenu {
    top: 80px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.burgerMenu li{
    cursor: pointer;
    font-size: 16px;
}
.mobile_icons{
    display: none;
}

.burgerMenuA{
    top: 80px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.burgerMenuA.active{
    transition: transform 0.9s ease !important;
}


@media only screen and (max-width: 1000px) {

    
    .menu_part,
    .icons_part {
        display: none;
    }

    .menu_logo {
        width: 50%;
        justify-content: start;
    }

    .hamburger_menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger_menu svg {
        font-size: 30px;
        cursor: pointer;
    }

    .burgerMenuA{
        position: fixed;
        width: 50%;
        height: 100%;
        display: flex;
        gap: 30px;
        align-items: center;
        flex-direction: column;
        background-color: #1f1d29e5;
        color: white;
        top: 70px;
        right: 0;
        transform: translateX(0); 
        transition: transform 0.9s ease;
        list-style: none;
        margin-top: 30px;
        z-index: 100;
        opacity: 1;
        padding-top: 80px;
    }

    .burgerMenuA li{
        cursor: pointer;
        font-size: 28px;
    }

    .burgerMenu {
        position: fixed;
        width: 200px;
        top: 100px;
        right: -20px;
        transform: translateX(0); 
        opacity: 0;
    }

    .burgerMenu.active {
        transform: translateX(500px);

    }

    .burgerMenu .menu_part {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .mobile_icons{
        display: block;
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 24px;
    }

}