.basket_empty{
    padding: 160px 0 62px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.basket_empty .basket_emptyLink{
    color: #d31c3e;
}

.basket {
    width: 100%;
    padding-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.basket>h2 {
    padding-bottom: 40px;
}

.basket_myCard {
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    background-color: #292732;
    padding: 10px;
    border-radius: 5px;

}

.basket_myCard img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.basket_myCard-content {
    background-color: #23202E;
    border-radius: 5px;
}

.basket_myCard-content h3 {
    padding: 7px 25px;
    font-weight: 400;
}

.basket_myCard-content p {
    color: #23202E;
    padding: 7px 25px;
    color: #b9b7c0;
    font-weight: 400;
    display: flex;
    gap: 10px;
}

.basket_myCard-content p i{
    cursor: pointer;
}

.basket_myCard .remove_icon {
    position: absolute;
    right: 20px;
    top: 18px;
}

.basket_myCard .remove_icon i{
    cursor: pointer;
    font-size: 24px;
}

.basketTotalClear{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basketTotalClear button{
    width: 150px;
    height: 50px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transform: skew(-4deg);
    background: #d31c3e;
    background: linear-gradient(to left, #d31c3e 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    font-size: .875rem;
    font-weight: 600;
}

.basketTotalClear button:hover {
    background-position: left;
    color: #d31c3e;
}

.basketTotalClear h3 span{
    color: #d31c3e;
}



@media screen and (max-width: 1000px) {
    .basket_myCard {
        flex-wrap: wrap;
        justify-content: center;

    }

    .basket_myCard>img {
        width: 70%;
        height: 100%;
    }
}

@media screen and (max-width: 650px) {

    .basket_myCard .basket_myCard_about{
        display: none;
    }
    
}