* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    scrollbar-color: #1f1d29 #2a2836;
}

body {
    background-color: #1f1d29;
    font-size: 16px;
    line-height: 1.8;
    color: #b9b7c0;
    letter-spacing: .02em;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    letter-spacing: .01em;
}

a:link {
    text-decoration: none;
}

.round-circle {
    position: fixed;
    width: 40px; /* Çap */
    height: 40px; /* Çap */
    background-color: transparent;
    border: 1px solid white; /* Beyaz kenarlık */
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.1s ease;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-circle::after {
    content: '';
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
}


@media screen and (max-width: 650px) {
    body{
        font-size: 14px;
    }
}
